.home {
    box-sizing: border-box;
}

.imagem img {
    max-width: 100%;
}

.container{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    text-align: center;
}

.titulo {
    font-size: 32px;
    font-weight: bold;
    color: #000;
}

.swiperSlide p {
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 60px;
    font-size: 15px;
    text-align: center;
    color: #000;
}

.linksDiv {
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.linksLeft {
    max-width: 200px;
    text-decoration: none;
    flex-grow: 1;
    background-color: #6E77F6;
    padding: 20px;
    border-radius: 15px 0px 0px 15px;
    color: #fff;

}

.linksRight {
    max-width: 200px;
    text-decoration: none;
    flex-grow: 1;
    background-color: black;
    padding: 20px;
    border-radius: 0px 15px 15px 0px;
    color: #fff;
}